{% extends 'myapp/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="text">
    <h2>О нашей компании</h2>

    <p>Компания
    "Старый часовщик" предлагает уникальные часы, созданные с тщательным вниманием к деталям и мастерству. Наши часы
    отражают красоту и элегантность, сочетая в себе традиционный стиль и инновационные технологии. Мы предлагаем широкий
    выбор часов, от классических до современных дизайнов, чтобы каждый клиент мог найти идеальное времяприбытие,
    отвечающее его уникальному стилю и вкусу. "Старый часовщик" - это не просто часы, это произведения искусства,
    которые будут радовать своих обладателей многие годы.</p>
</div>
{% endblock %}
